body
{
  background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5)),url(1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.signup-box
{
  max-width: 700px;
  float: none;
  margin: 50px auto;
  background: rgba(211,211,211,0.5);
  padding: 30px;
}
.form-control
{
  background-color: transparent !important;
}
