body
{
    margin: 0;
    padding: 0;
    font-family: Bahnschrift;
    background-image: url("pic-2.png");
    background-size: cover;
    background-position: center;
}
.Query-form
{
    width: 500px;
        background: transparent;
        margin: 8% auto 0;
        text-align: center;
}
.Query-form h1
{
    color: #fff;
    margin-bottom: 30px;

}
.Query2-form
{
    width: 500px;
        background: transparent;
        margin: 8% auto 0;
        text-align: center;
}
.input-box
{
    border-radius: 50px;
    padding: 15px;
    margin: 10px 0;
    width: 75%;
    border: 1px solid #999;
    outline: none;


}
button
{
    color: navajowhite;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    


}

.submit-btn
{
    background-color: red;
    color: white;



}
.facebook-btn
{
    background-color: blue;
    color: white;
}

a
{
    text-decoration: none;

}

.or
{
    background: cyan;
    width: 30px;
    margin: -19px auto 10px
}
img
{
    width: 70px;
    margin-top: -50px;
    
}

input[type=text], input[type=Query] {
    width: 75%;
    height: 125%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=Query]:focus {
    background-color: #fff;
    outline: none;
    
  }
  

.checkbox{
    padding-left: 10px;
    margin: 10px;
    
}